---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Simon's Portfolio">
  <main>
    <h1>Hey, Soy Sim칩n <Badge>Disponible para trabajar</Badge></h1>
    <h2>
      +3 A침os de experiencia. Desarrollador Web Fullstack y Dise침ador UX | UI.
      De Bogot치, Colombia 游뻟릖. Especializado en crear aplicaciones unicas
    </h2>
  </main>
</Layout>
