---
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import Linkedin from "../icons/Linkedin.astro";
import Github from "../icons/Github.astro";
import Mail from "../icons/Mail.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Porfolio de Simon Calderon | Programador y Desarrollador Web con 3 a침os de experiencia"
  description="Contrata a Simon Calderon, un desarrollador web fullstack y dise침ador UX | UI de Bogot치, Colombia. Especializado en crear aplicaciones unicas"
>
  <main>
    <section class="w-full lg:w-[800px] mx-auto py-44">
      <img
        class="rounded-full size-20 mb-5"
        src="/profile_img.webp"
        alt="simoncl20-profile"
      />
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
        Hey, Soy Sim칩n
        <a
          href="https://www.linkedin.com/in/simoncl20/"
          target="_blank"
          rel="noopener noreferrer"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-2xl opacity-80 text-wrap">
        +3 A침os de experiencia. <span class="text-yellow-200/90">
          Desarrollador Web Fullstack y Dise침ador UX | UI</span
        > Estudiante de Ingenier칤a de Sistemas en la Universidad de los Andes. De
        Bogot치, Colombia 游뻟릖. Especializado en crear aplicaciones unicas
      </h2>
      <nav class="flex gap-x-4 mt-8">
        <SocialPill link="https://www.linkedin.com/in/simoncl20/">
          <Linkedin class="size-6" />
          Linkedin
        </SocialPill>
        <SocialPill link="https://github.com/Simoncl20">
          <Github class="size-6" />
          Github
        </SocialPill>
        <SocialPill link="mailto:simoncalderonl2010@gmail.com">
          <Mail class="size-6" />
          simoncalderonl2010@gmail.com
        </SocialPill>
      </nav>
    </section>
  </main>
</Layout>
