---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Simon's Portfolio">
  <main>
    <section class="w-full lg:w-[740px] mx-auto py-44">
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
        Hey, Soy Sim칩n
        <a
          href="https://www.linkedin.com/in/simoncl20/"
          target="_blank"
          rel="noopener noreferrer"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para traba jar</Badge>
        </a>
      </h1>
      <h2 class="text-xl opacity-80">
        +3 A침os de experiencia. Desarrollador Web Fullstack y Dise침ador UX | UI.
        De Bogot치, Colombia 游뻟릖. Especializado en crear aplicaciones unicas
      </h2>
    </section>
  </main>
</Layout>
